[[define "footer"]]
<!-- Start footer area -->
<footer>
<div>
  [[.Config.SiteName]] is an open source, decentralized community powered by <a href="https://github.com/fiatjaf/nostr">nostr</a>.<br>
</div>
<div>
  <a href="/about">about</a> | <a href="[[.Config.RepoLink]]">github</a> | <a href="[[.Config.TelegramLink]]">telegram</a>
</div>
<div>
  <form method="GET" action="/search"><input class="input-search" type="text" name="q" placeholder="search"></input></form>
</div>
</footer>
<!-- End footer area -->
[[template "footerTags" .]] [[end]]
