[[define "footer"]]
<!-- Start footer area -->
<footer>
<div>
  [[.Config.SiteName]] is an open source, decentralized community powered by <a href="https://github.com/fiatjaf/nostr">nostr</a>.<br>
</div>
<div>
  <a href="/about">about</a> | <a href="[[.Config.RepoLink]]">github</a>
</div>
</footer>
<!-- End footer area -->
[[template "footerTags" .]] [[end]]
