[[define "parent_post"]]
  <div class="flex card" style="padding: 20px 0px;">
    [[template "vote_form" dict "Post" $.Post "UserVotes" $.UserVotes "CsrfToken" $.CsrfToken "ShowScore" true]]
    <div>
      [[$channel := $.Post.Channel]]
      [[if eq $channel ""]]
        [[$channel = "all"]]
      [[end]]
      <p class="post-view-title">
        [[/* TODO: Show parent preview or something else here */]]
        [[if eq $.Post.Title ""]]
          <a href="/p/[[$.Post.Parent]]">View Parent ↑</a>
        [[else]]
          [[template "post_title" dict "Channel" $channel "Type" "post" "Post" $.Post]]
        [[end]]
      </p>
      [[/* TODO: turn tagline into a template, consolidate with the similar block in post_row.html.tmpl */]]
      <p class="post-view-tagline">
        [[$pubkey := $.Post.PubKey]]
        [[$time := (timeAgo $.Post.CreatedAt)]]
        [[if eq $.Preview true]]
          [[$pubkey = $.User.PubKey]]
          [[$time = "just now"]]
        [[end]]
        <span>[[$.Post.Score]] points </span>
        <span>posted by </span>
        <span><a href="/u/[[$pubkey]]">[[pubkeyAlias $pubkey]] <code>([[shortHash $pubkey]])</code></a> </span>
        <span>to <a href="/c/[[$channel]]">[[$channel]]</a> </span>
        <span>[[$time]]</span>
      </p>
      [[if shouldDisplayBody $.Post $.User.HideImages]]
        <div class="post-body">
          [[if eq $.User.HideImages true]]
            [[renderMarkdownNoImages $.Post.Body]]
          [[else]]
            [[renderMarkdown $.Post.Body]]
          [[end]]
        </div>
      [[end]]
      <div class="post-actions">
        <span><a href="#comments">[[$.Post.Children]] comments</a> | </span>
        <span><a href="#share-box-[[$.Post.ID]]">share</a> | </span>
        [[template "share_box" dict "Post" $.Post "Config" .Config]]
        <span><a href="/p/[[$.Post.ID]]/reply">reply</a></span>
        [[if eq $.Post.PubKey .User.PubKey]]<span> | <a href="#delete-box-[[$.Post.ID]]">delete</a></span>[[end]]
        [[template "delete_box" dict "Post" $.Post "CsrfToken" $.CsrfToken]]
      </div>
      [[if eq $.Preview true]]
        <div class="red" style="font-size: .7em; margin-top: 8px;">(post preview)</div>
      [[end]]
    </div>
  </div>
[[end]]
