[[define "post_row"]]
  <div class="card post-row">
    <div class="flex">
      [[template "vote_form" dict "Post" $.Post "UserVotes" $.UserVotes "CsrfToken" $.CsrfToken "ShowScore" true]]
      <div>
        [[$channel := $.Post.Channel]]
        [[if eq $channel ""]]
          [[$channel = "all"]]
        [[end]]
        <div class="post-row-title">[[template "post_title" dict "Channel" $channel "Type" $.Type "Post" $.Post]]</div>
        <div class="post-actions">
          <span> posted by </span>
          <span><a href="/u/[[$.Post.PubKey]]">[[pubkeyName $.Post.PubKey]] <code>([[shortHash $.Post.PubKey]])</code></a></span>
          [[if eq $.Type "post"]]
            <span>to <a href="/c/[[$channel]]">[[$channel]]</a> </span>
          [[else]]
            <span>in reply to <a href="/p/[[$.Post.Parent]]">[[shortHash $.Post.Parent]]</a> </span>
            <span>in <a href="/c/[[$channel]]">[[$channel]]</a> </span>
          [[end]]
          <span>[[timeAgo $.Post.CreatedAt]]</span>
        </div>
        <div class="post-actions">
          <span><a href="/p/[[$.Post.ID]]">[[$.Post.Children]] [[if eq $.Type "post"]]comments[[else]]replies[[end]]</a> | </span>
          <span><a href="#share-box-[[$.Post.ID]]">share</a> | </span>
          [[template "share_box" dict "Post" $.Post "Config" .Config]]
          <span><a href="/p/[[$.Post.ID]]/reply">reply</a></span>
          [[if eq $.Post.PubKey .User.PubKey]]<span> | <a href="#delete-box-[[$.Post.ID]]">delete</a></span>[[end]]
          [[template "delete_box" dict "Post" $.Post "CsrfToken" $.CsrfToken]]
        </div>
      </div>
    </div>
  </div>
[[end]]
