/* Dark theme */

:root {
    --accent-bg: #2b2b2b;
    --border: #666;
    --accent: #ffb300;
    --preformatted: #ccc;
    --disabled: #111;
}

body {
    background-color: #0A0E17;
    color: #cdcdcd;
}

#header {
    background-color: #1C2230;
}

a,
a:visited {
    color: #fff;
}

.text-button {
    color: #fff !important;
    background-color: inherit !important;
}

.card {
    background-color: #1C2230;
    border: 1px solid #373738;
}

footer {
    border-top: 1px solid #373738;
}

td {
    border: 1px solid #313131;
}

input[type="text"],
textarea {
    background: rgb(10, 14, 24);
    border: none;
    color: #c8c8c8;
}

.modal-content {
    background: #1C2230;
}

.upvoted {
    color: #3cb978 !important;
}

.downvoted {
    color: #dc3545 !important;
}
