body {
    max-width: 100%;
    width: 100%;
    padding: 0px;
    background-color: rgb(247, 249, 250);
}

#content {
    align-self: center;
    width: 85%;
    padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5 {
    margin-block: auto;
}

a,
a:visited {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.green {
    color: #28a745 !important;
    font-weight: 500;
}

.red {
    color: #dc3545 !important;
    font-weight: 500;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

#logo-icon {
    font-weight: 900;
    color: #3cb978;
    font-size: 24px;
    float: left;
    line-height: 40px;
    margin-right: 12px;
    transform: rotate(45deg);
}

#header {
    background-color: #fff;
}

#header .header-content {
    width: 85%;
    align-self: center;
    font-size: .8em;
    padding: 10px;
    margin: auto;
    line-height: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-content>div,
.header-content>div>div {
    flex-wrap: wrap;
    gap: 8px;
    white-space: nowrap;
}

.bullet {
    color: #3cb978;
    font-size: 1.5em;
}

.header-link {
    opacity: .7;
    font-weight: 500;
}

#logo-text {
    font-weight: 700;
    font-size: 1.5em;
}

.flex {
    display: flex;
    align-content: center;
}

input[type="checkbox"] {
    margin: 0px 10px 0px 0px;
}

[role=button],
a button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    font-size: inherit;
    background: #3cb978;
}

.post-preview-button {
    background: #444 !important;
}

.text-button {
    padding: 0 !important;
    width: auto !important;
    color: #000 !important;
    font-size: 1em !important;
    background-color: inherit !important;
    display: inline-block !important;
    margin: 0px !important;
}

.vote-form,
.post-count {
    font-size: .8em;
}

.vote-form {
    margin: 0px;
}

.card {
    margin: 0px;
    background-color: #fff;
    margin: 5px 0px;
    border: 1px solid #d8dae1;
    border-radius: 4px;
}

.activity-card {
    padding: 8px;
    font-size: .7em;
}

.post-row {
    padding: 8px;
}

.post-row-title {
    line-height: 13px;
    margin-bottom: 6px;
}

.post-row-title a {
    font-weight: 400;
    font-size: .8em;
}

.post-body {
    margin: 5px 0px;
}

.post-body,
.comment-body {
    font-size: .80em;
    margin-right: 40px;
}

.post-body img {
    max-height: 600px;
    max-width: 100%;
}

.comment-body img {
    max-height: 300px;
    max-width: 100%;
}

.comment-body .post-actions {
    margin-bottom: 14px;
}

.post-body p {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 5px 0px;
}

.comment-body p {
    margin-top: 24px;
    margin-bottom: 0px;
}

.comment-text {
    margin-top: 12px;
}

.post-actions,
.post-view-tagline {
    font-size: .6em;
    color: #9e9e9e;
}

.post-actions>a {
    font-weight: 500;
}

.post-view-title {
    font-size: .9em;
    padding: 0;
    margin-block: 0;
    margin-right: 40px;
}

.post-view-tagline {
    margin: 0;
    margin-bottom: 8px;
}

.collapse-label {
    margin-left: 40px;
    position: absolute;
}

.collapsible:checked~div {
    visibility: hidden;
    text-indent: -9999em;
    height: 24px;
}

.collapsible {
    display: none;
}

.collapsible+label:before {
    content: "[-] ";
}

.collapsible:checked+label:before {
    content: "[+] ";
}

.collapsible+label+ul {
    display: none;
}

.collapsible:checked+label+ul {
    display: block;
}

.collapsible+label {
    cursor: pointer;
}

tr:nth-child(even) {
    background: none;
}

.comments-parent {
    padding: 20px 0px;
}

.comments-child {
    border-left: 1px dotted #d8dae1;
    margin-left: 20px;
}

.modal {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal:target {
    display: flex !important;
    opacity: 1;
}

.modal-content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
}

.modal-footer {
    text-align: right;
    a {
        color: #585858;
    }
    i {
        color: #d02d2c;
    }
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
}

.votes {
    flex-direction: column;
    width: 40px;
    min-width: 40px;
    align-items: center;
    line-height: 18px;
}

.justify-center {
    justify-content: center;
}

.debug-banner {
    position: fixed;
    bottom: 0;
    font-size: .7em;
    background: #fff;
    padding: 0px 12px;
    color: red;
    padding: 12px;
    border: 1px solid #000;
}

.post-content-type {
    font-size: .5em;
}

.disabled-vote {
    pointer-events: none;
    cursor: default;
}

.upvoted {
    color: #3cb978 !important;
}

.downvoted {
    color: #dc3545 !important;
}

.transparent {
    opacity: 0.3;
}

.post-submit td {
    border: 0px;
    padding: 0px;
}

input.apple-switch {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #ddd;
    zoom: .7;
}

input.apple-switch:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.apple-switch:checked {
    box-shadow: inset 20px 0 0 0 #3db978;
    border-color: #3db978;
}

input.apple-switch:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}
