[[define "content"]]
  <div>
    <h5>
      top active channels
    </h5>
    <div class="card post-body">
      <ul>
      [[range $_, $channel := .Page.Channels]]
        [[$name := $channel.Name]]
        [[if eq $channel.Name ""]]
          [[$name = "all"]]
        [[end]]
        <li><a href="/c/[[$name]]">/c/[[$name]]</a> - [[$channel.Count]] posts</li>
      [[end]]
      <ul>
    </div>
  </div>
[[end]]
