[[define "content"]]
  <h5>
    [[$channel := .Page.Channel]][[if eq .Page.Channel ""]][[$channel = "all"]][[end]]
    hot posts in <a href="/c/[[$channel]]">/c/[[$channel]]</a>
    <div style="font-size: .65em; margin-bottom: 24px;"><a href="/c/[[$channel]]/recent">view recent &#8594;</a></div>
  </h5>
  <div>
    [[$length := len .Page.Posts]] [[if eq $length 0]]
      <p>No more posts :(</p>
    [[else]]
      [[range $_, $post := .Page.Posts]]
        [[if ne $post.Title ""]]
          [[template "post_row" dict "Post" $post "CsrfToken" $.CsrfToken "Type" "post" "Config" $.Config "User" $.User "UserVotes" $.Page.UserVotes]]
        [[end]]
      [[end]]
    [[end]]
  </div>
  <div style="font-size: .65em; margin-top: 24px;">
    [[if ne .Page.Page 0]]<a href="?page=[[add .Page.Page -1]]">← prev</a>[[end]]
    [[if ne .Page.Page 0]][[if eq $length .Config.PostsPerPage]] &nbsp;&nbsp;|&nbsp;&nbsp; [[end]][[end]]
    [[if eq $length .Config.PostsPerPage]]<a href="?page=[[add .Page.Page 1]]">next →</a>[[end]]
  </div>
[[end]]
