[[define "content"]]
  <div class="card" style="padding: 60px; 20px; font-weight: 400;">
    <center>
      <div style="margin-bottom: 20px;">
        [[if eq .Config.Environment "prod"]]
          We recommend running the <a href="[[.Config.RepoLink]]">local client</a> to post &amp; vote. You can select a login method below if you trust this gateway.
          <div>The seed phrase or private key that you use should be specific to [[.Config.SiteName]]. Do not paste values from any cryptocurrency wallets.</div>
        [[else]]
          login
        [[end]]
      </div>
    </center>
    <div class="flex" style="flex-wrap: wrap; justify-content: center; font-size: .8em;">
      <div style="padding: 20px; max-width: 100%;">
        <form action="/login" method="POST">
          <div class="flex" style="flex-direction: column; align-items: center; width: 300px; max-width: 100%;">
            <a href="#suggest-seed" style="margin-bottom: 24px;">need a seed phrase?</a>
            <input class="w-80" type="text" name="seed" placeholder="piano early guess emerge ..." required>
            <input type="hidden" name="csrf" value="[[.CsrfToken]]">
            <input type="submit" value="login">
          </div>
        </form>
      </div>
    </div>
    <center><a style="color: #3cb978; font-size: .7em; padding-top: 22px;" href="/alt_login">alternate login options &#8594;</a></center>
  </div>
  <div id="suggest-seed" class="modal" style="display: none;">
    <div class="modal-content">
      <center>
        <div>Suggested BIP39 Mnemonic</div>
        <br>
        <div style="background-color: black;"><code style="color: #d8dae1;">[[.Page.SuggestedSeed]]</code></div>
        <br>
        <div class="red">Keep this seed phrase in a safe location. Your account cannot be recovered if you lose the seed phrase.</div>
      </center>
      <a href="#" class="modal-close">&times;</a>
    </div>
  </div>
[[end]]

