[[define "content"]]
  [[$postType := "post"]]
  [[if ne .Page.Parent.ID ""]]
    [[$postType = "comment"]]
    [[template "parent_post" dict "Post" .Page.Parent "User" .User "Config" .Config "CsrfToken" .CsrfToken "Preview" false "UserVotes" .Page.UserVotes]]
  [[end]]
  [[if ne .Page.Post.Body ""]]
    [[template "parent_post" dict "Post" .Page.Post "User" .User "Config" .Config "CsrfToken" .CsrfToken "Preview" true "UserVotes" .Page.UserVotes]]
  [[end]]
  <div class="card flex justify-center" style="padding: 60px 20px; font-weight: 400; font-size: .8em;">
    <div class="w-100" style="max-width: 800px;">
      <form action="/new" method="POST">
        <table>
          <tbody>
          <tr>
            <td colspan="2">
              <center><div>new [[$postType]]</div></center>
            </td>
            [[if eq .Page.Parent.ID ""]]
            <tr>
              <td>
                <div>title</div>
              </td>
              <td>
                <input class="w-100" type="text" name="title" maxlength="[[.Config.TitleMaxCharacters]]" value="[[.Page.Post.Title]]" required>
              </td>
            </tr>
            [[else]]
              <input type="hidden" name="parent" value="[[.Page.Parent.ID]]"></input>
            [[end]]
            <tr>
              <td>
                <div>
                  [[$postType]]
                </div>
              </td>
              <td>
                <textarea class="w-100" name="body" maxlength="[[.Config.BodyMaxCharacters]]" style="height: 192px;" required>[[.Page.Post.Body]]</textarea>
              </td>
            </tr>
            [[if eq .Page.Parent.ID ""]]
            <tr>
              <td>
                <div>channel</div>
              </td>
              <td>
                <input class="w-100" type="text" name="channel" [[if ne .Page.Post.Channel ""]]value="[[.Page.Post.Channel]]"[[end]]placeholder="bitcoin (optional)" maxlength="[[.Config.ChannelMaxCharacters]]">
              </td>
            </tr>
            [[end]]
            <tr>
              <td colspan="2">
                <center>
                  <div>Posting as [[pubkeyAlias .User.PubKey]] <a href="#" title=[[.User.PubKey]]>([[shortPubkey .User.PubKey]])</a></div>
                  <input type="submit" class="post-preview-button" value="preview" formaction="/new/preview">
                  <input type="submit" value="submit">
                  <input type="hidden" name="csrf" value="[[.CsrfToken]]">
                </center>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
[[end]]
