[[define "content"]]
  [[$postType := "post"]]
  [[if ne .Page.Parent.ID ""]]
    [[$postType = "comment"]]
    [[template "parent_post" dict "Post" .Page.Parent "User" .User "Config" .Config "CsrfToken" .CsrfToken "Preview" false "UserVotes" .Page.UserVotes]]
  [[end]]
  [[if ne .Page.Post.Body ""]]
    [[template "parent_post" dict "Post" .Page.Post "User" .User "Config" .Config "CsrfToken" .CsrfToken "Preview" true "UserVotes" .Page.UserVotes]]
  [[end]]
  [[template "post_form" dict "PostType" $postType "Parent" .Page.Parent.ID "Channel" $.Page.Post.Channel "User" .User "Post" .Page.Post "CsrfToken" .CsrfToken]]
[[end]]
