[[define "content"]]
  [[if ne .Page.PubKey ""]]
    <h5>profile</h5>
    <div class="card" style="font-size: .75em; padding: 24px;">
      <h5>[[.Page.Metadata.Name]]</h5>
      <div style="margin-bottom: 24px;">
        [[if eq .Page.Metadata.CreatedAt 0]]
          (no profile set)
        [[else]]
          profile updated [[timeAgo .Page.Metadata.CreatedAt]]
        [[end]]
      </div>
      <h5>Bio</h5>
      <div class="bio">
        [[if eq .Page.Metadata.About ""]]
          (no bio)
        [[else]]
          [[if eq $.User.HideImages true]]
            [[renderMarkdownNoImages $.Page.Metadata.About]]
          [[else]]
            [[renderMarkdown $.Page.Metadata.About]]
          [[end]]
        [[end]]
      </div>
    </div>
  [[end]]
  <div>
    [[$channel := .Page.Channel]]
    [[if eq .Page.Channel ""]][[$channel = "all"]][[end]]
    <h5>
      [[if eq .Page.PubKey ""]]
        recent posts in <a href="/c/[[$channel]]">/c/[[$channel]]</a>
        <div style="font-size: .65em; .65em; margin-bottom: 24px;"><a href="/c/[[$channel]]">view hot &#8594;</a></div>
      [[else]]
        recent posts by <a href="/u/[[.Page.PubKey]]">[[pubkeyName .Page.PubKey]]</a>
      [[end]]
    </h5>
    [[range $_, $post := .Page.Posts]]
      [[template "post_row" dict "Post" $post "CsrfToken" $.CsrfToken "Type" "post" "Config" $.Config "User" $.User "UserVotes" $.Page.UserVotes]]
    [[end]]
    [[if eq .Page.PubKey ""]]
      <h5>recent comments in <a href="/c/[[$channel]]">/c/[[$channel]]</a></h5>
    [[else]]
      recent comments by <a href="/u/[[.Page.PubKey]]">[[pubkeyName .Page.PubKey]]</a>
    [[end]]
    [[range $_, $comment := .Page.Comments]]
      [[template "post_row" dict "Post" $comment "CsrfToken" $.CsrfToken "Type" "comment" "Config" $.Config "User" $.User "UserVotes" $.Page.UserVotes]]
    [[end]]
    [[if eq .Page.PubKey ""]]
      <h5>recent votes in <a href="/c/[[$channel]]">/c/[[$channel]]</a></h5>
    [[else]]
      recent votes by <a href="/u/[[.Page.PubKey]]">[[pubkeyName .Page.PubKey]]</a>
    [[end]]
    [[range $_, $vote := .Page.Votes]]
      [[template "vote_row" dict "Vote" $vote]]
    [[end]]
  </div>
[[end]]
