[[define "content"]]
  <div class="card flex justify-center" style="padding: 60px 20px; font-weight: 400; font-size: .8em;">
    <div class="settings">
      <form action="/settings" method="POST">
        <table>
          <tbody>
            <tr>
              <td colspan="2">
                <center>
                  <div style="margin-bottom: 12px;">custom alias</div>
                  [[if eq (isVerified .User.PubKey) true]]
                    <input type="text" name="alias" maxlength="[[.Config.AliasMaxCharacters]]" placeholder="custom alias" value="[[pubkeyAlias .User.PubKey]]" style="text-align: center;" required>
                  [[else]]
                    <a class="red" href="/verify">verify account for alias →</a>
                  [[end]]
                </center>
              </td>
            </tr>
            <tr>
              <td><input class="apple-switch" type="checkbox" name="hide_downvoted" [[if eq .User.HideDownvoted true]]checked[[end]] value="true"></td>
              <td>hide downvoted comments</td>
            </tr>
            <tr>
              <td><input class="apple-switch" type="checkbox" name="hide_bad_users" [[if eq .User.HideBadUsers true]]checked[[end]] value="true"></td>
              <td>hide posts from users with low scores</td>
            </tr>
            <tr>
              <td><input class="apple-switch" type="checkbox" name="hide_images" [[if eq .User.HideImages true]]checked[[end]] value="true"></td>
              <td>disable embedded images</td>
            </tr>
            <tr>
              <td><input class="apple-switch" type="checkbox" name="dark_mode" [[if eq .User.DarkMode true]]checked[[end]] value="true"></td>
              <td>dark mode</td>
            </tr>
            <tr>
              <td colspan="2">
                <center>
                  <input type="hidden" name="pubkey" value="[[.User.PubKey]]">
                  <input type="hidden" name="privkey" value="[[.User.PrivKey]]">
                  <input type="hidden" name="csrf" value="[[.CsrfToken]]">
                  <input type="submit" value="update">
                </center>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
[[end]]

