[[define "content"]]
  [[$post := index .Page.Posts 0]]
  [[$postCount := len .Page.Posts]]
  [[template "parent_post" dict "Post" $post "User" .User "Config" .Config "CsrfToken" .CsrfToken "Preview" false]]
  <p id="comments">
    [[if eq $post.Title ""]]
      Replies
    [[else]]
      comments
    [[end]]
  [[if eq $postCount 1]]
    <p>No replies.</p>
  [[else]]
    <div class="replies">
      [[template "replies" dict "Posts" .Page.Posts "Parent" .Page.ID "CsrfToken" .CsrfToken "Depth" 0 "User" .User]]
    </div>
  [[end]]
[[end]]
